.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.left,
.right {
  flex: 1 0 50%;
  background: rgb(238, 221, 144);
  white-space: nowrap;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.right {
  background: rgb(173, 200, 230);
}

.chat {
  text-align: left;
}

.chat-input {
  width: 100%;
  display: inline-flex;
}

input {
  width: 100%;
}