@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lavanda";   /*Can be any text*/
  src: local("VerditerLavanda-Regular"),
    url("./fonts/VerditerLavanda-Regular.ttf") format("truetype");
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 5px;
  }
}

.bg-gradient {
  background-image: linear-gradient(to bottom, #B1F4CF, #9890E3);
}